body {
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

h1 {
  font-size: 45px;
  background-color: #B5937D
}

h2 {
  font-size: 23px;
}

p {
  font-size: 19px;
}

img{
  border: 0;
  width: 60%;
  min-width: 200px;
  max-width: 500px;
}

nav{
  list-style-type: none;
  background: #A6A57A;
  float: center;
  display: flex;
}

li a{
  display: block;
  font-size: 18px;
  padding: 20px;
  color: black;
}

a{
  color: #4B6E95;
  text-decoration: none;
}
