body {
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 23px;
}

p {
  font-size: 19px;
}

img{
  border: 0;
  width: 60%;
  min-width: 200px;
  max-width: 500px;
}

nav{
  list-style-type: none;
  background: #232889;
  float: left;
  display: block;
}
